<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    {% for review in reviews %}
      {% if review.author %}
        <b>{{ review.author.email }}
          {% if user and user.user_id() == review.author.identity %}
            (You)
          {% endif %}
        </b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ review.content }}</blockquote>
    {% endfor %}

    <form action="/sign?session_name={{ session_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Leave Review"></div>
    </form>

    <hr>

    <form>Session name:
      <input value="{{ session_name }}" name="session_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}